<% @page_title = 'Ranking 2009' %>

<% @breadcrumbs = Array.new %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<h3>Ranking de Reclamações no ano de 2009</h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a href="<%= url(:indicadores, :ranking) %>" data-toggle="tab">Geral</a></li>
    <li><a href="<%= url(:indicadores, :ranking_by_year, :year => 2011) %>" data-toggle="tab">2011</a></li>
    <li><a href="<%= url(:indicadores, :ranking_by_year, :year => 2010) %>" data-toggle="tab">2010</a></li>
    <li class="active"><a href="#" data-toggle="tab">2009</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_content">
      <%= ranking_data_table :data => @ranking, :total => @total, :year => 2009 %>
    </div>
  </div>
</div>
