<% @page_title = 'Pessoa Jurídica' %>

<% @breadcrumbs = nil %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<h3><%= pessoa_juridica_name @pessoa_juridica %></h3>

<h4>Dados</h4>
<div id="razao_social">
  <span><strong>Razão social: </strong></span><span><%= @pessoa_juridica.razao_social %></span>
</div>
<div id="nome_fantasia">
  <span><strong>Nome fantasia: </strong></span><span><%= nil_to_text @pessoa_juridica.nome_fantasia %></span>
</div>
<div id="cnpj">
  <span><strong>CNPJ: </strong></span><span><%= format_cnpj @pessoa_juridica.cnpj %></span>
</div>
<div id="cnae">
  <span><strong>CNAE: </strong></span><span><%= nil_to_text @pessoa_juridica.cnae_principal %></span>
</div>

<hr/>

<h4>Ranking de reclamações</h4>
<div id="posicao_geral">
  <span><strong>Posição geral: </strong></span><span><%= format_position @ranking.posicao_geral %></span>
</div>
<div id="posicao_2011">
  <span><strong>Posição em 2011: </strong></span><span><%= format_position @ranking.posicao_2011 %></span>
</div>
<div id="posicao_2010">
  <span><strong>Posição em 2010: </strong></span><span><%= format_position @ranking.posicao_2010 %></span>
</div>
<div id="posicao_2009">
  <span><strong>Posição em 2009: </strong></span><span><%= format_position @ranking.posicao_2009 %></span>
</div>

<hr/>

<%= link_to 'Detalhar Reclamações', url(:pessoa_juridica, :complaints, :id => @pessoa_juridica.id), :class => 'btn btn-primary' %>
