<% @page_title = 'Contato' %>

<% @breadcrumbs = Array.new %>
<%= partial :bread_crumb, :object => @breadcrumbs %>

<h3>Fale conosco</h3>

<% if @message && !@message.valid? %>
<div id="error_messages">
  <p class="text-error">
    <%= @message.errors.join '<br/>' %>
  </p>
</div>
<% end %>

<% if params[:msg_sent] %>
<div id="success_message">
  <p class="text-success">
    Mensagem enviada com sucesso!
  </p>
</div>
<% end %>

<div class="body-unit">
  <form method="post" action="/send_email" accept-charset="UTF-8">
    <div name="name">
      <label for="name">Nome: </label><input type="text" id="name" name="name" value="<%= params[:name] %>"/>
    </div>
    <div name="email">
      <label for="email">e-mail: </label><input type="text" id="email" name="email" value="<%= params[:email] %>"/>
    </div>
    <div name="subject">
      <label for="subject">Assunto: </label><input type="text" id="subject" name="subject" value="<%= params[:subject] %>"/>
    </div>
    <div name="message">
      <label for="message">Texto: </label><textarea id="message" name="message"><%= params[:message] %></textarea>
    </div>
    <div id="action_buttons">
      <input type="submit" value="Enviar" class="btn btn-primary"/>
      <input type="reset" value="Apagar" class="btn btn-primary"/>
    </div>
  </form>
</div>
